# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
bower_components/
jspm_packages/

# Coverage directory
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Parcel cache
.cache
.parcel-cache

# Next.js build output
.next
out

# TypeScript cache
*.tsbuildinfo

.env
